<%#
  This file is a part of RedmineX UX Upgrade plugin
  for Redmine

  Copyright 2020-2022 RedmineX. All Rights Reserved.
  https://www.redmine-x.com

  Licensed under GPL v2 (http://www.gnu.org/licenses/gpl-2.0.html)
  Created by Ondřej Svejkovský
%>

<h2><%= l(:label_user_new) %></h2>

<%= form_for(@group, :url => group_users_path(@group), :method => :post) do |f| %>
  <%= render :partial => 'new_users_form' %>
  <p>
  <div class="projectino-controls">
  <%= submit_tag l(:button_add) %>
  </div>
  </p>
<% end %>
