<%#
  This file is a part of RedmineX UX Upgrade plugin
  for Redmine

  Copyright 2020-2022 RedmineX. All Rights Reserved.
  https://www.redmine-x.com

  Licensed under GPL v2 (http://www.gnu.org/licenses/gpl-2.0.html)
  Created by Ondřej Svejkovský
%>

<a class="projectino-logo" href="<%= home_path %>">
  <%= render :partial => 'common/image', :locals => {:path => RedmineXUxUpgrade.logo_url, :alt => "Logo"} %>
</a>
